<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>解析json并进行传值.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04F9A2EE1D3EF85200E34558</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04F9A3071D3EF85300E34558</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04F9A3121D3EF85300E34558</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
